<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="utf-8">
      <title>reservation_success</title>
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@700&display=swap" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css" />
      <link rel="stylesheet" type="text/css" href="/css/main.css"/>

      <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">

        <style>
            body {
                background: #E9E9E9
            }
            #TOP {
                position: absolute;
                top: 0px;
                left: 0px;
                width: 1920px;
                height: 165px;
                background: #000090 0% 0% no-repeat padding-box;
                border: 1px solid #707070;
                opacity: 1;
            }
        </style>
         <style>
            #CENTER {
                position: absolute;
                top: 270px;
                left: 600px;
                width: 740px;
                height: 410px;
                background: #FFFFFF 0% 0% no-repeat padding-box;
                border: 1px solid #707070;
                opacity: 1;
            }

            #CENTER > #tx1 {
                position: absolute;
                top: 30px;
                left: 100px;
                font: normal normal bold 50px/60px NanumGothicCoding;
                color: #707070;
            }

             #CENTER > #tx2 {
                 position: absolute;
                 top: 150px;
                 left: 150px;
                 text-align: center;
                 font: normal normal normal 25px/30px NanumSquareRound;
                 color: #000000;
             }
        </style>
        <style>
            #bt {
                position: absolute;
                top: 280px;
                left: 270px;
                width: 188px;
                height: 51px;
                background: #3BA1D5 0% 0% no-repeat padding-box;
                border: 1px solid #707070;
                opacity: 1;
                font: normal normal bold 30px/35px NanumSquareRound;
                color: #FFFFFF;
            }
            #TITLE{
                position: absolute;
                top: 95px;
                height: 34px;
                text-align: center;
                font-family: 'NanumSquareRound',sans-serif;
                font-weight: 700;
                font-size: 35px;
                letter-spacing: 0px;
                color: #FFFFFF;
                opacity: 1;
            }

            #TITLE > #FIRST1{
                position: absolute;
                left: 1218px;
                width: 140px;
            }
            #TITLE > #FIRST2{
                position: absolute;
                left: 1392px;
                width: 160px;
            }
            #TITLE > #FIRST{
                position: absolute;
                left: 1586px;
                width: 140px;
            }
            #TITLE > #SECOND{
                position: absolute;
                left: 1760px;
                width: 129px;
            }
            .head_icon > span{
                font-family: 'Oswald', sans-serif;;
                font-weight: 700;
                font-size: 70px;
                color:#fad87b;
            }
            .head_icon > span:nth-child(1){
                color:#e9a719;
            }
            .head_icon > span:nth-child(2){
                color:#fac042;
            }
            .head_icon > span:nth-child(3){
                color:#e9a719;
            }
            .head_icon > span:nth-child(4){
                color:#fac042;
            }
        </style>
    </head>
    <body>
        <header class ="TOP">
            <div class="m-4">
                <a class="head_icon" href="/" style="text-decoration: none;">
                    <span>G</span>
                    <span>I</span>
                    <span>G</span>
                    <span>A</span>
                    <span>B</span>
                    <span>O</span>
                    <span>X</span>
                </a>
            </div>
            <div id="TITLE">
                <div id ="FIRST" type ="button" onclick="Toregister()">예약하기</div>
                <script type="text/javascript">
                function Toregister(){
                    location.href = "/reservation2";
                }
                </script>
                <!-- <a id ="FIRST2" href = "/mypage/<%= currentUser.USER_ID %>">마이페이지</a> -->
                <div id="FIRST2" type ="button" onclick="Tomypage()">마이페이지</div>
                <script type="text/javascript">
                 function Tomypage(){
                     location.href = "/mypage/<%= currentUser.USER_ID %>";
                 }
                 </script>
                  <div id ="FIRST1" type ="button" onclick="Tosnacklist()">스낵구매</div>
                  <script type="text/javascript">
                  function Tosnacklist(){
                      location.href = "/snack/<%= currentUser.USER_ID %>";
                  }
                  </script>
                <div id="SECOND" type ="button" onclick="Tologin()">로그아웃</div>
                <script type="text/javascript">
                    function Tologin(){
                        location.href = "/logout";
                      }
                </script> 
            </div>
         </header>
        <div id = "CENTER">
            <p id="tx1">결제가 완료되었습니다.</p>
            <p id="tx2">결제번호:  <%= user_ticket_pay_num %></p>

            <button id="bt" onclick='tomypage()'>결제내역확인</button>
            <script>function tomypage(){
                location.href = "/mypage/movie1/<%= currentUser.USER_ID %>";
            }
            </script>
        </div>
    </body>
</html>