<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="utf-8">
		<title>movie1</title>
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css">
       <link rel="stylesheet" type="text/css" href="/css/main.css"/>
       <style>
            body {
                    background: #E9E9E9
            }
            #TITLE{
                position: absolute;
                top: 95px;
                height: 34px;
                text-align: center;
                font-family: 'NanumSquareRound',sans-serif;
                font-weight: 700;
                font-size: 35px;
                letter-spacing: 0px;
                color: #FFFFFF;
                opacity: 1;
            }

            #TITLE > #FIRST1{
                position: absolute;
                left: 1218px;
                width: 140px;
            }
            #TITLE > #FIRST2{
                position: absolute;
                left: 1392px;
                width: 160px;
            }
            #TITLE > #FIRST{
                position: absolute;
                left: 1586px;
                width: 140px;
            }
            #TITLE > #SECOND{
                position: absolute;
                left: 1760px;
                width: 129px;
            }
            .head_icon > span{
                font-family: 'Oswald', sans-serif;;
                font-weight: 700;
                font-size: 70px;
                color:#fad87b;
            }
            .head_icon > span:nth-child(1){
                color:#e9a719;
            }
            .head_icon > span:nth-child(2){
                color:#fac042;
            }
            .head_icon > span:nth-child(3){
                color:#e9a719;
            }
            .head_icon > span:nth-child(4){
                color:#fac042;
            }
        </style>
    </head>
    <body>
        <header class ="TOP">
            <div class="m-4">
                <a class="head_icon" href="/" style="text-decoration: none;">
                    <span>G</span>
                    <span>I</span>
                    <span>G</span>
                    <span>A</span>
                    <span>B</span>
                    <span>O</span>
                    <span>X</span>
                </a>
            </div>>
            <div id="TITLE">
                <div id ="FIRST" type ="button" onclick="Toregister()">예약하기</div>
                <script type="text/javascript">
                function Toregister(){
                    location.href = "/reservation2";
                }
                </script>
                <!-- <a id ="FIRST2" href = "/mypage/<%= currentUser.USER_ID %>">마이페이지</a> -->
                <div id="FIRST2" type ="button" onclick="Tomypage()">마이페이지</div>
                <script type="text/javascript">
                 function Tomypage(){
                     location.href = "/mypage/<%= currentUser.USER_ID %>";
                 }
                 </script>
                  <div id ="FIRST1" type ="button" onclick="Tosnacklist()">스낵구매</div>
                  <script type="text/javascript">
                  function Tosnacklist(){
                      location.href = "/snack/<%= currentUser.USER_ID %>";
                  }
                  </script>
                <div id="SECOND" type ="button" onclick="Tologin()">로그아웃</div>
                <script type="text/javascript">
                    function Tologin(){
                        location.href = "/logout";
                      }
                </script> 
            </div>
         </header>
        <div class ="BAR">
            <div class = "title" style="position: absolute; top: 60px;left: 108px;width: 440px;height: 915px;">마이페이지</div>
            <div class ="T1" style="position: absolute;top: 141px;">주문내역</div>
            <div class = "T2" onclick="tomypage()" style="position: absolute;top: 249px;">▶ 주문내역</div>
            <script>
                function tomypage(){
                    location.href = "/mypage/<%= currentUser.USER_ID %>";
                }
            </script>
        </div>
        <div class = "CENTER" style="position: absolute;top: 250px; left: 572px; width: 1260px;height: 770px;">
               <div class="title" style="position: absolute;top: 106px;left: 152px;width: 564px;height: 50px;">예매확인/취소</div>
               <table width = "80%" border="1px solid #707070;" style="position: absolute; top:180px; left: 150px">
                <tr class = table1 style="height: 34px;">
                    <th >티켓 번호</th>
                    <th >영화명</th>
                    <th>상영일자</th>
                    <th>예매상태</th>
                </tr >
                <% test.forEach(function(item,index){ %>
                <tr class = table2 style="height: 50px;" align ="center">
                    <td> <%= item.TICKET_NUM %> </td>
                    <td> <%= item.MOVIE_TITLE %> </td>
                    <td> <%= item.SCREEN_DATE %></td>
                    <td> <%= item.PAY_STATE %><a class = "BUTTON1" href="/mypage/movie2/<%= item.TICKET_NUM %>" style="width: 115px; height: 40px;font-size: 20px; "> 상세정보</a>
                    <script type ="text/javascript">
                    function Tomovie2(){
                        location.href = "/mypage/movie2/<%= item.TICKET_NUM %>";
                    } 
                    </script> </td>
                </tr>
            <% }); %>
            </table>
           
         
        </div>
        
    </body>
</html>